body {
  /* padding: 5%; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Sen', 'Archivo Black', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.MuiButton-contained {
  margin: 7px 15px;
}

.btn {
  margin: 7px 15px;

}

/* #droppable{
  background: rgba(250,250,250,1);
} */


#editprofpag{
  margin-bottom: 1%;
}

