.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.timer-backdrop {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%)
  ;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}

h4{
  text-align: center; 
  font-size : 2rem; 
  font-weight: 400; 
  margin-top: 0;
  padding: 10px;
}


.button {
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: ruby-base-container;
  font-size: 10px;
  margin: 4px ;
  transition-duration: 0.4s;
}

.stop{
  background-color: white; 
  color: black; 
}

.stop:hover {
  background-color: #f44336;
  color: white;
}

.reset{
  background-color: white; 
  color: black; 
}

.reset:hover {
  background-color: #61dafb;
  color: white;
}

.start{
  background-color: white; 
  color: black; 
}

.start:hover {
  background-color: #008000;
  color: white;
}

.interval-container {
  display: flex;
  justify-content: center;
}

.counter-btn, .counter-btn {
  text-align: center;
  text-decoration: none;
  display: ruby-base-container;
  font-size: 10px;
  margin: 4px ;
  transition-duration: 0.4s;
}
.isFullScreen{
  color: white;
}

.back-controls {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: 8%;
}

#sessionList {
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  margin: 70px 70px;
  padding-left: 8%;
}
