.list-controls {
    justify-content: center;
    width: 20%;
    margin: 60px auto;
    padding: 30px;
    display: flex;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.text {
    display: inline;
    justify-content: space-evenly;
}

.MuiCircularProgress-root {
    color: white;
    height: 4rem !important;
    width: 4rem !important;
}

.MuiSvgIcon-fontSizeLarge {
    height: 4rem !important;
    width: 4rem !important;
}

.test {
    color: #d5dcf8 !important;
    margin: auto 0 !important;
}

.test:disabled {
    display: none;
}
