.Test {
    background-color: white;
    width: 50%;
    height: 500px;
    align-self: start;
    float: right;
}

.message-box {

    margin-top: 100px;
    width: 50%;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 500px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
}

.date {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: small;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
}

.username {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.message-inp {
    width: 100%;
}

.adjusted {
    margin-top: 50px;
}

.messages {
    text-align: left;
    margin: 10px;
}