.timer {
    font-size: 118px;
    border: none;
    display: inline-block;
    width: 135px;
    text-align: center;
    background-color: #F6F5F6;
    color: white;
    background-color: transparent;
    -moz-appearance: textfield;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}

.timer-backdrop {
    padding: 50px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

/* .controls {
    justify-content: space-between;
    width: 20%;
    margin: auto;
    display: flex;
} */


.timer:disabled {
    font-size: 118px;
    border: none;
    display: inline-block;
    width: 135px;
    text-align: center;
    background-color: #F6F5F6;
    color: white;
    background-color: transparent;
    -moz-appearance: textfield;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.colon {
    font-size: 100px;
    display: inline-block;
    color: white;
    height: auto;
}

.break {
    color: red;
}

.Label {
    color: black;
    margin-bottom: auto;
    font-weight: 400;
}