

.subtitle-left {
    font-family: sans-serif, 'Sen';
    font-size: 45px;
    width: 100px;
    font-weight: bold;
    color: black;
}
.subtitle-right {
    font-family: sans-serif, 'Sen';
    font-size: 45px;
    width: 100px;
    font-weight: bold;
    color: black;
}

.container-text {
    text-align: left;
    color: black;
}

.container-left {
    align-content: flex-start;
    padding: 300px 0;
    float: left;
    right: 30px;
    padding: 150px 75px;
    border-radius: 25px;
    margin-right: 60px;
    width: 495px;
    border: 2px solid black;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition:  0.2s ease-out;
}

.container-left:hover {
    background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
    transform:scale(1.02);
}


.container-right {
    float: right;
    padding: 150px 75px;
    margin-left: 60px;
    border: 1px coral;
    height: auto;
    width: 495px;
    border: 2px solid black;
    border-radius: 25px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}
.container-right:hover {
    background: linear-gradient(240deg, #d299c2 0%, #fef9d7 100%);
    background-position: right;
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
    transform:scale(1.02);
}



.title-1 {
    padding:10px;
    font-family: sans-serif, 'Sen';
    font-size: 70px;
    margin-top: 70px;
    margin-top: 70px;
    font-weight: bold;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .container-left {
        align-content: flex-start;
        padding: 300px 0;
        right: 30px;
        padding: 150px 75px;
        border-radius: 25px;
        margin-right: 60px;
        height: 50%;
        width: 100%;
        border: 5px solid black;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        margin: 10px;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition:  0.2s ease-out;
    }
    .container-right {
        float: right;
        padding: 150px 75px;
        margin-left: 60px;
        border: 1px coral;
        height: 50%;
        width: 100%;
        border:5px solid black;
        border-radius: 25px;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        -ms-transition: 0.2s ease-out;
        -o-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    
    }
}