
.popup-joinroom {
    background-color: white;
    margin: auto;
    padding: 20px;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    border-radius: 25px;
    height: 350px;
    width: 300px;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
    color: black;
}

.subtitle {
    text-align: center;
    color: black;
    font-size: 20px;
}

.special-link {
    font-size: 10px;
    color: rgb(151, 151, 151);
    text-decoration: none;
    margin: auto;
}

.special-link:hover { 
    color: rgb(83, 83, 83);
}.background {
    color: aquamarine;
}
.popup {
    background-color: white;
    margin: auto;
    padding: 20px;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    border-radius: 25px;
    height: 500px;
    width: 300px;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
    color: black;
}

.subtitle {
    text-align: center;
    color: black;
    font-size: 20px;
}

.special-link {
    font-size: 10px;
    color: rgb(151, 151, 151);
    text-decoration: none;
    margin: auto;
}

.special-link:hover { 
    color: rgb(83, 83, 83);
}