.left-side-reg {
    background-color: white;
    padding: 20px;
    height: 100%;
    width: 50%;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:absolute;

}

.inner-form {
    margin-top: 65px;
}

.title {
    text-align: center;
    color: black;
}

.subtitle {
    text-align: center;
    color: black;
    font-size: 20px;
}

.special-link {
    font-size: 10px;
    color: rgb(151, 151, 151);
    text-decoration: none;
    margin: auto;
}

.special-link:hover { 
    color: rgb(83, 83, 83);
}